
/* // Play button
.label.play {
  -fx-text-fill: lblColor1;
  -fx-font-size: 40 px;
  //-fx-padding: 0 20 0 0;
}
// Play button 2
.label.playCenter {
  -fx-text-fill: lblColor1;
  -fx-border-color: lblColor1;
  -fx-font-size: 50 px;
  -fx-padding: 10 10 10 10;
} */

/** Play btn, img, lbl */
.playBtn {

}
.playBtn .image-view {
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 20, 0, 0, 0);
}
/*
.playBtn:hover .image-view {
  -fx-effect: dropshadow(three-pass-box, rgba(0,100,0,0.6), 20, 0, 0, 0);
}
.playBtn:hover .playLbl {
  -fx-effect: dropshadow(three-pass-box, rgba(0,100,100,0.6), 10, 0, 0, 0);
}
*/
.playBtn .playLbl {
  -fx-text-fill: lblColor1; 
  -fx-font-size: 45 px;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
  -fx-background-color:  rgba(0, 0, 0, 0.20);
  -fx-padding: 0 0 0 20;
}
.playBtn .playLbl .text {
  -fx-stroke: black;
  -fx-stroke-width: 1px;
}

.playBtn .timer {
  -fx-text-fill: lblColor1;
  -fx-font-size: 22 px;
  -fx-padding: 0 20 0 0;
}

.playModes .label {
  -fx-cursor: hand;
  -fx-text-fill: lblColor1;
  -fx-font-size: 22 px;
  -fx-padding: 0 0 0 20;
  -fx-background-color:  rgba(0, 0, 0, 0.50);
}
.playModes .label:hover {
  -fx-background-color:  rgba(200, 100, 0, 0.20);
}
.playModeSelected {
  -fx-background-color:  rgba(200, 100, 0, 0.20);
  -fx-border-width: 1;
  -fx-border-color: borderColor1;
}

.playTeam .image-view {
    -fx-cursor: hand;
}
.playTeam .label {
  -fx-text-fill: lblColor1;
  -fx-font-size: 22 px;
}
